all.margin {margin-left: 10px; }
body, td, caption, p {font-family: Tahoma, Verdana, Arial, sans-serif; font-size:10pt;}

.page {width:780px}

th {font-family: Verdana, Arial, sans-serif; color:#0000A0;}

a.link  {font-size: x-small; font-family: sans-serif}

a:link     {color:rgb(0,0,200);}
a:visited  {color:rgb(100,100,230);}
a:hover    {color:rgb(250,0,0);}       

.modify  {font-size: xx-small;}

span.toplink {font-weight:bold; color:#aa0000}
span.header
{
	font-weight: bold;
	font-size: 16pt;
	letter-spacing: 5pt;
	font-variant: small-caps;
}
span.header2 {font-weight:bold; font-size:large;}
span.linkheader { font-weight:bold;}

.NavLinks
{
	width: 100%;	
	padding: 4px 0px 4px 4px;
	background-color: rgb(230,230,230);
}

.content
{
	height: 410px;
}

.leftSide 
{
	float: left;
	width: 62%;
	margin-left: 8px;
}

.rightSide
{
	float: right;
	width: 35%;
}

footer
{
	font-size: 8pt;
}

.Bottom
{
	font-size: 8pt;
}

hr 
{
	color: rgb(230,230,230);
	width: 100%;
}